@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-light: rgb(193, 193, 193);
  --primary-dark: rgb(41, 27, 16);
  --secondary-light: white;
  --secondary-dark: rgb(102, 100, 99);
  --clicked: rgb(206, 203, 203);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
}

.title {
  font-size: 50px;
  color: var(--primary-dark);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* width: 500px; */
  height: 500px;
  background-color: var(--secondary-light);
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 15px;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
  margin-bottom: 5px;
}

.btn {
  width: 125px;
  height: 40px;
  font-size: 15px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: var(--secondary-dark);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#btn-Color,
#btn-Grid,
#btn-Eraser {
  border-width: thin 0px thin thin;
}

#btn-Reset {
  border-width: thin;
}

.btn:hover {
  box-shadow: none;
  background-color: var(--clicked);
  color: var(--primary-dark);

}

.btnClicked {
  box-shadow: none;
  background-color: var(--clicked);
  color: var(--primary-dark);
}

.sliderSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.slidecontainer {
  width: 75%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--secondary-dark);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: var(--secondary-dark);
  cursor: pointer;
}

.gridSize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  gap: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  opacity: 50%;
}

.fa-github {
  color: var(--primary-dark);
  font-size: 25px;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.3);
}


@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn {
    width: 125px;
    height: 40px;
    font-size: 15px;
  }
}