@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-light: coral;
  --primary-dark: rgb(41, 27, 16);
  /* --secondary-dark: #063a3a; */

}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: aqua;
}